.comments {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    
  .rounded-circle {
    height: 50px;
    width: auto;
    border-radius: 50%;
    
  }
  .commentInfo{
      display: flex;
      flex-direction: column;
  }
}
